<div style="position: relative">
  <div class="onboard-container">
    <div>
      <div class="top-Image">
        <img src="../../../../assets/images/Logo.svg" class="logo" alt="" />
      </div>
      &nbsp;

      <div class="onboarding">
        <div>
          <div class="signin-wrapper">
            <div class="signin-container">
              <div class="header-text">
                <img
                  src="../../../../assets/images/success.svg"
                  height="66px"
                  width="68.33px"
                  class="logo2"
                  alt=""
                />
              </div>

              <div class="successDiv">
                <p class="successText">Successful</p>
              </div>

              <div class="successDiv2">
                {{receivedData.value}}
              </div>

              &nbsp;

              <div class="align-center">

                <div class="align-center">
                  <button mat-raised-button class="button" style="color: #895efb"  (click)="login()">
                    <span class="text">Login</span>
                  </button>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
