
.spacer{
    height: 5rem!important;
}

.section-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    margin: auto;
    width: 70%;
    // color: #2C1765;
    
    // @include respond(tab-port) {
    //     font-size: 42px;
    //     line-height: 58px;
    //     margin: auto;
    //     text-align: left!important;
    //     width: 100%;
    // }

    
    // @include respond(phone) {
    //     font-size: 32px;
    //     line-height: 44px;
    // }
}

.padded-wrapper{
    padding: 5% 9%;
}

.section-subtitle{
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    margin: auto;
    width: 55%;
    // color: #4B4263;

    // @include respond(tab-port) {
    //     width: 100%;
    //     text-align: left!important;
    // }

    // @include respond(tab-port) {
    //     font-size: 16px;
    //     line-height: 28px;
    // }
}



// Grid 3
.grid-section-3{
    padding: 5% 10% 10%;

    .grid-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        text-align: left;
        margin: 0;
        width: 90%;
        // @include respond (tab-port){
        //     width: 100%;

        //     margin-bottom: 20px;
        // }
    }


    .grid-subtitle{
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        margin: 10px 0;
        width: 70%;
        // color: #4B4263;
        
        // @include respond (tab-port){
        //     width: 100%;
        // }
    }
    

    .grid-container-3{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 30% [col-start]);
        row-gap: 60px;
        column-gap: 20px;
        justify-content: center;


        // @include respond (tab-port){
        //     grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        //     gap: 20px;
        // }
    }

    .grid-item{
        position: relative;
        .arrow{
            position: absolute;
            top: -25px;
            z-index: 300;
            right: 45px;
            width: 80px;
        }

        .title{
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            margin: 10px 0;
            width: 50%;
        }

        .title2{
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            margin: 10px 0;
            width: 100%;
        }

        .content{
           font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            // color: #6A6084;
        }
    }
}


@media screen and (max-width:450px) {
    .section-title{
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        margin: auto;
        width: 100%!important;
    }
}