$primary-color: #851e17;
$secondary-color: #ff8c00;
$title-color:#4c4237;
$secondary-color-orange: #f86c43;
$secondary-color-yellow: #febf34;
$secondary-color-papaya: #fff2d6;
$secondary-color-egg: #e9e6d5;
$secondary-color-gray: #818181;
$warning-color:#e01e5a;
$success-color: rgb(38, 139, 38);