<div class="container">
    <img src="/assets/images/firs_logo.png" width="150">
    <div class="mt-3 login-box">
        <div class="header mt-3">
            Set Password
        </div>

        <div class="sub-header mt-1">
            Enter a new password for login
        </div>

        <form [formGroup]="resetForm">
            <div class="mt-4">
                <mat-form-field class="full-width signup-form" appearance="outline" color="#E7EDF4">
                    <span class="form-title" matPrefix style="position: relative;">
                        Password:
                        &nbsp;
                    </span>
                    <input [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password" type="password" matInput>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                        <mat-icon style="font-size: 12px;" color="primary">{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        
            <div class="mt-1">
                <mat-form-field class="full-width signup-form" appearance="outline" color="#E7EDF4">
                    <span class="form-title" matPrefix style="position: relative;">
                        Confirm Password:
                        &nbsp;
                    </span>
                    <input [type]="hide2 ? 'password' : 'text'" autocomplete="off" formControlName="confirmpassword" type="password" matInput>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                        <mat-icon style="font-size: 12px;" color="primary">{{hide2 ? "visibility_off" : "visibility"}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="mt-1 full-width">
                <button [disabled]="resetForm.invalid" (click)="setPassword()" routerLink="/admin"
                class="full-width" color="primary" mat-flat-button>
                    Proceed to Login
                </button>
            </div>
        </form>
    </div>
</div>
